<a href="https://colab.research.google.com/github/Dorcas63/Babe/blob/main/climate_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!git clone https://github.com/Dorcas63/Parameters.git

%cd Parameters

!dir

Cloning into 'Parameters'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), 25.11 KiB | 5.02 MiB/s, done.
/content/Parameters/Parameters
Atmos40.csv  data_acquisition2.ipynb  README.md

In [18]:
import pandas as pd

xx = pd.read_csv('Atmos40.csv')    # csv files
#xx = pd.read_excel('Atmos40.xlsx')

list(xx)  # get the list of column names

['Unnamed: 0',
 'Unnamed: 1',
 'Temp',
 'Out',
 'Dew',
 'Wind',
 'Unnamed: 6',
 'Heat']

In [26]:
xx = pd.read_csv('osogbo.csv',index_col='created_at',usecols=['Temp_out','dewpoint','Wind_speed',
                                                                'Heat index','pressure bar','Humid'])

xx

   Unnamed: 0 Unnamed: 1  Temp  Out  Dew   Wind Unnamed: 6   Heat
0        Date       Time   Out  Hum  Pt.  Speed      Bar    Index
1    1/1/2007       0:30    23   34  6.3    2.2      976.7   22.1
2    1/1/2007       1:00  23.1   33  5.9    2.7      976.4   22.1
3    1/1/2007       1:30  22.9   33  5.8    2.7      976.2   21.8
4    1/1/2007       2:00  22.9   33  5.8    3.1      975.8   21.9
5    1/1/2007       2:30  22.6   34  5.9    2.7      975.6   21.4
6    1/1/2007       3:00  22.7   32  5.1    2.7      975.4   21.4
7    1/1/2007       3:30  22.6   32  5.1    2.7      975.4   21.3
8    1/1/2007       4:00  22.5   32    5    2.2      975.1   21.2
9    1/1/2007       4:30  22.2   34  5.6    3.1      975.3   20.8
10   1/1/2007       5:00  21.2   37  5.9    3.1      975.6   19.6
11   1/1/2007       5:30  20.9   37  5.6    4.9      975.6   19.3
12   1/1/2007       6:00  20.7   37  5.5    4.9      976.2   19.2
13   1/1/2007       6:30  20.7   35  4.6    6.3      976.3     19
14   1/1/2007       7:00  19.8   39  5.4    6.3      976.6   18.3
15   1/1/2007       7:30  19.6   39  5.3    5.8      976.5   18.2
16   1/1/2007       8:00  19.1   40  5.2    4.9        977   17.7
17   1/1/2007       8:30  19.6   39  5.2    4.5      977.4   18.1
18   1/1/2007       9:00  20.3   37  5.1    4.5      977.4   18.7

In [20]:
import matplotlib.pyplot as plt

In [34]:
# simple plot using pandas

xx['Temp','Dew','Speed','6','Heat'].plot()
plt.xlabel('Time') # change the xlabel
plt.ylabel('Temp','Dew','Speed','Heat')

# New Section

# New Section